../../.bash_history
	../../.bash_logout
	../../.bashrc
	../../.cache/
	../../.config/
	../../.editor.swp
	../../.gitconfig
	../../.gnome/
	../../.gnupg/
	../../.local/
	../../.mozilla/
	../../.pki/
	../../.profile
	../../.ssh/
	../../.sudo_as_admin_successful
	../../.thunderbird/
	../../.viminfo
	../../.vscode/
	../../Desktop/
	../Jenkins_practice_1/
	../Untitled 1.odt
	../central.git/
	../commands_git.odt
	../ppwd.odt
	../test00/
	../test01/
	../test11/
	../test12/
	../test13/
	../test14/
	../test15/
	../try_02/
	../../Downloads/
	../../Pictures/
	../../Public/
	../../VirtualBox VMs/
	../../cls
	../../exercises/
	../../secret-file
	../../snap/

